[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pep8 = "*"
fmodules = {editable = true,git = "https://github.com/fierte-product-development/Standard-Library-Extension"}
flake8 = "*"

[requires]
python_version = "3.8"
